#hero{
    .inner-hero{

        h2{
            background: url('https://www.tastingtable.com/img/gallery/20-japanese-dishes-you-need-to-try-at-least-once/intro-1664219638.webp') center no-repeat;
            background-size:cover;
            background-attachment: fixed;
            height: 750px;
            opacity: 0.3; 

        }
        &::before{
            content: "Japanese restaurant";
            font-size: $tamanho-padrao*3.8;
            font-family: $fonte-hero;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
}

@media (max-width: 768px){
    #hero{
        .inner-hero{
            &::before{
               text-align: center;
            }
        }
    }
}