@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Raleway:wght@100;300&family=Sofia+Sans+Semi+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Raleway:wght@100&family=Sofia+Sans+Semi+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Kurale&family=Raleway:wght@100;300&family=Sofia+Sans+Semi+Condensed:wght@300&display=swap');

//FONTES
$fonte-principal: 'Raleway', sans-serif;
$fonte-secundaria:  'Golos Text', sans-serif;
$fonte-hero: 'Kurale', serif;
$tamanho-padrao: 1.2rem;

//CORES
$first-color: #0F0E0E;
$second-color: #D44000;
$third-color: #FF7A00;
$fourth-color: #FFEFCF;
$fifth-color: #FCF8E8;